.App {
  text-align: center;
  font-family: sans-serif;

  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.on-off-btn {
  padding: 10px 15px;
  background-color: rgb(13, 137, 238);
  color: white;
  border: transparent;
  font-size: xx-large;
  border-radius: 15px;
}

.on-off-btn:focus {
  outline: 0;
}

.on-off-btn:hover {
  cursor: pointer;
  background-color: red;
  transform: translateY(-4px);
}
